@import "reset";
@import "compass/typography/lists";
@import "compass/css3";

$YELLOW: #b3aa19;
$BLACK: #222;
$BLUE: #2c7fc6;

$LINK_COLOR: $BLUE;

$SANS_SERIF_FONT_STACK: "Helvetica Neue", Verdana, Arial, Helvetica, sans-serif;
$SERIF_FONT_STACK: 'Georgia', 'Times New Roman', serif;


$HEADING_FONT_STACK: $SERIF_FONT_STACK;

@mixin heading-font {
    font-family: $HEADING_FONT_STACK;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}


$INSET_TXT_SHADOW: 1px 1px 0 rgba(250, 250, 250, 0.5);
$INSET_TXT_SHADOW_LIGHT_TXT: 1px 1px 0 rgba(0,0,0,0.5);
$TXT_SHADOW: 0px 0px 4px rgba(0,0,0,0.9), 0px 0px 8px rgba(0,0,0,0.3);
$BOX_SHADOW_DEF: 0 0 3px rgba(0, 0, 0, 0.6), 0 3px 9px rgba(0,0,0,0.3);



body {
	font-size: 87.5%; /* 14/16 */
    min-width: 240px;
	font-family: $SANS_SERIF_FONT_STACK;
}


header, footer, nav, aside, article, section {
    display: block;
}

img, object, video, media, embed, iframe {
    max-width: 100% !important;
}


// SCREEN BREAK POINTS
$LARGE_SCREEN_WIDTH: 1200px;
$MEDIUM_LARGE_SCREEN_WIDTH: 875px;
$MEDIUM_SCREEN_WIDTH: 770px; //ipad 768
$SMALL_SCREEN_WIDTH: 640px;
$VERY_SMALL_SCREEN_WIDTH: 425px;

@mixin respond-to($media) {
    @media screen and (max-width: $media) {
        @content;
    }
}

.chromeframe {
    padding: 20px 0;
    text-align: center;
    background-color: $YELLOW;
    color: $BLACK;
    font-size: 1.2em;
    position: relative;
    z-index: 1000;
    p {
        max-width: 700px;
        margin: 0 auto;
    }
}
