@import "reset";
@import "compass/typography/lists";
@import "compass/css3";


$LINK_COLOR: #0A69B2;

$SANS_SERIF_FONT_STACK: "Helvetica Neue", Verdana, Arial, Helvetica, sans-serif;
$SERIF_FONT_STACK: 'Georgia', 'Times New Roman', serif;


$INSET_TXT_SHADOW: 1px 1px 0 rgba(250, 250, 250, 0.5);
$INSET_TXT_SHADOW_LIGHT_TXT: 1px 1px 0 rgba(0,0,0,0.5);
$TXT_SHADOW: 0px 0px 4px rgba(0,0,0,0.9), 0px 0px 8px rgba(0,0,0,0.3);
$BOX_SHADOW_DEF: 0 0 3px rgba(0, 0, 0, 0.6), 0 3px 9px rgba(0,0,0,0.3);



body {
	font-size: 87.5% /* 14/16 */
    min-width: 240px;
	font-family: $SANS_SERIF_FONT_STACK;
}


header, footer, nav, aside, article, section {
    display: block;
}

img, object, video, media, embed, iframe {
        max-width: 100% !important;
}

