$YELLOW: #b3aa19;
$BLACK: #222;

$BLUE: #80C8FF;

// Greys
$LIGHT_GREY: #dfdfdf;
$MEDIUM_GREY: #777;
$DARK_GREY: #444;

// Theme Colors
$LINK_COLOR: $BLUE;
$TXT_COLOR: $BLACK;
$PRIMARY_BUTTON_BACKGROUND_COLOR: $BLUE;
$PRIMARY_BUTTON_TXT_COLOR: $TXT_COLOR;

$ERROR_COLOR: #DF2133;
