$INSET_TXT_SHADOW: 1px 1px 0 rgba(250, 250, 250, 0.5);
$INSET_TXT_SHADOW_LIGHT_TXT: 1px 1px 0 rgba(0,0,0,0.5);
$TXT_SHADOW: 0 1px 3px rgba(1, 1, 1, 0.55), 0 3px 9px rgba(1,1,1,0.1);
$BOX_SHADOW: 0 0 3px rgba(0, 0, 0, 0.6), 0 3px 9px rgba(0,0,0,0.3);
$TOP_INSET_BOX_SHADOW: inset 0 2px 4px -4px rgba(0,0,0,0.2), inset 0 8px 4px -4px rgba(0,0,0,0.1);
$BOTTOM_INSET_BOX_SHADOW: inset 0 -2px 4px -4px rgba(0,0,0,0.4), inset 0 -8px 4px -4px rgba(0,0,0,0.1);
