$INSET_TXT_SHADOW: 1px 1px 0 rgba(250, 250, 250, 0.5);
$INSET_TXT_SHADOW_LIGHT_TXT: 1px 1px 0 rgba(0,0,0,0.5);
$TXT_SHADOW: 0px 1px 2px rgba(0,0,0,0.6), 0px 2px 4px rgba(0,0,0,0.1);
$BOX_SHADOW: 0 0 3px rgba(0, 0, 0, 0.6), 0 3px 9px rgba(0,0,0,0.3);

