@import "reset";
@import "compass/typography/lists";
@import "compass/css3";

@import "modules/colors";
@import "modules/fonts";
@import "modules/shadows";
@import "modules/responsive";
@import "modules/helpers";
@import "modules/layout";

// Turn on border box sizing
*, *:before, *:after {
        @include box-sizing(border-box);
}

html {
    font-size: 62.5%; /* 10/16 make - this make em/rem math a power of 10 */
}

body {
    @include font-size(1.6);
    min-width: 240px;
	font-family: $SANS_SERIF_FONT_STACK;
}

header, footer, nav, aside, article, section {
    display: block;
}

img, object, video, media, embed, iframe {
    max-width: 100%;
    height: auto;
}

.wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
}
.container {
    width: 94%;
    margin: 0 auto;
    padding: 0;
    max-width: 1400px;
}

a {
    color: $LINK_COLOR;
    &:hover { color: darken($LINK_COLOR, 20%); }
}
h1, h2, h3, h4 {
    @include heading-font();
}
h1 a, h2 a, h3 a, h4 a, h5 a {
    text-decoration: none;
}


// CHROME FRAME
.chromeframe {
    padding: 20px 0;
    text-align: center;
    background-color: $YELLOW;
    color: $BLACK;
    font-size: 1.2em;
    position: relative;
    z-index: 1000;
    p {
        max-width: 700px;
        margin: 0 auto;
    }
}
